@import 'bootstrap/dist/css/bootstrap.scss';
@import 'configs/variables.scss';

@import 'components/form.scss';
@import 'components/input.scss';
@import 'components/label.scss';
@import 'components/section.scss';
@import 'components/typography.scss';

body {
	font-family: $font-libre;
	background: $grey-1;
 	overflow-x: hidden;
}

