.showtix-box {
	position: relative;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	background: map-get($showtix-colors, grey-2);

	&__title {
		font-size: 14px;
		font-weight: 700;
		color: map-get($showtix-colors, primary-1);
		text-transform: uppercase;
	}

	p {
		font-size: 16px;
		line-height: 20px;
		color: map-get($showtix-colors, grey-3);
		font-weight: 300;
	}

	a {
		color: map-get($showtix-colors, primary-1);
	}

	ul {
		padding-left: 20px;
		li {
			font-size: 16px;
			color: map-get($showtix-colors, grey-3);
			font-weight: 300;
		}
	}
}