@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/modal';

.modal {
  &-content {
    border-radius: 0;
    background: map-get($showtix-colors, grey-1);
    text-align: center;
  }
  &-header {
    position: relative;
    border-bottom: none;
  }
  &-title {
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    color: map-get($showtix-colors, primary-1);
  }
  &-body {
    overflow: auto;
    max-height: 80vh;
  }
  &-footer {
    border-top: none;
  }
  &.fade {
    .modal-dialog {
      transform:translate(0, -25%);
      transition:transform 0.3s ease-out;
    }
  }
  &.in {
    .modal-dialog { 
      transform:translate(0, 0);
    }
  }
}

.modal-backdrop {
  &.fade { 
    opacity: 0;
  }
  &.in { 
    opacity: 0.7;
  }
}

.close {
  position: absolute;
  right: $grid-gutter-width;
  top: $grid-gutter-width;
  padding: 0;
  color: map-get($showtix-colors, primary-1);
  opacity: 1;
  line-height: 1;
  cursor: pointer;
  background: transparent;
  border: 0;
  appearance: none;
  font-size: 24px;
  font-weight: 600;
  transition: color 0.5s ease;
  &:hover, &:focus {
    text-decoration: none;
    cursor: pointer;
    color: map-get($showtix-colors, primary-2);
  }
}