.modal {
  &-content {
    border-radius: 0;
    background: map-get($showtix-colors, grey-1);
    text-align: center;
  }
  &-header {
    border-bottom: none;
  }
  &-title {
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    color: map-get($showtix-colors, primary-1);
  }
  &-footer {
    border-top: none;
  }
}

.close {
  color: map-get($showtix-colors, primary-1);
  opacity: 1;
  text-shadow: none;
  margin-top: -20px;
  transition: color 0.5s ease;
  &:hover, &:focus {
    color: map-get($showtix-colors, primary-2);
  }
}