.showtix-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 3px 15px 1px 15px;
  font-size: 11px;
  font-weight: 800;
  text-transform: uppercase;
  color: map-get($showtix-colors, white);
  border-radius: 20px;
  background: map-get($showtix-colors, primary-1);
  transition: background 0.5s ease;

  &:hover, &.is-active {
    cursor: pointer;
    background: map-get($showtix-colors, primary-2);
  }
}