@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';
@import 'styles/variables.scss';
@import 'styles/components/button.scss';

.showtix-cart {
	position: relative;
	border-radius: $border-radius;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	background: map-get($showtix-colors, grey-2);

	&__title {
		margin: 0 $grid-gutter-width;
		font-size: 14px;
		font-weight: 700;
		color: map-get($showtix-colors, primary-1);
		text-transform: uppercase;
	}

	&__header {
		border-radius: $border-radius $border-radius 0 0;
		background: map-get($showtix-colors, primary-4);
	}

	@include media-breakpoint-down(sm) {
      	position: fixed;
      	top: 53px;
      	right: 0;
      	max-height: 0;
      	overflow: hidden;

      	&.is-active {
      		max-height: 200px;
      		overflow: auto;
      	}
    }
}