@import 'bootstrap/dist/css/bootstrap.css';
@import 'configs/variables.css';

@import 'components/form.css';
@import 'components/input.css';
@import 'components/label.css';
@import 'components/section.css';
@import 'components/typography.css';

body {
	font-family: $font-libre;
	background: $grey-1;
 	overflow-x: hidden;
}

