
$white: #FFFFFF;
$black: #000000;
$grey-1: #d7d6d6;
$grey-2: #efefef;
$grey-3: #333333;
$grey-4: #5e5e5e;
$primary-1: #8a91c1;
$primary-2: #5c649b;
$primary-3: #485081;
$primary-4: #181d3c;
$error: #f43034;

$font-libre: 'Libre Franklin', sans-serif;

$padding: 20px;
$border-radius: 3px;