h1, .showtix-h1 {
  font-size: 28px;
  font-weight: 300;
  color: $primary-2;
}

h2, .showtix-h2 {
  font-size: 24px;
  font-weight: 300;
  color: $primary-3;
}

p {
  font-size: 14px;
  line-height: 18px;
  color: $grey-3;
}